<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_zp"
        android:label="NUMAD23SP_ZhangjinPan"
        android:roundIcon="@mipmap/ic_launcher_zp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD23SP_ZhangjinPan"
        tools:targetApi="31">
        <activity
            android:name=".prime_directive"
            android:exported="false"
            android:label="Prime Directive" />
    <!--        android:configChanges="orientation|keyboardHidden|screenSize//this method also can be use to let the thread running when rotated"-->
        <activity
            android:name=".link_collector"
            android:exported="false"
            android:label="Link Collector" />
        <activity
            android:name=".about_me"
            android:exported="false"
            android:label="About Me" />
        <activity
            android:name=".ClickyActivity"
            android:exported="false"
            android:label="Clicky Clicky" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>